[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
pyyaml = "*"
coverage = "*"
pyfrc = "*"
wpilib = "*"
robotpy = {version = "==2023.*", extras = ["commands2", "ctre", "navx", "pathplannerlib", "photonvision", "playingwithfusion", "rev", "sim"]}
pillow = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
pandas = "*"
ipykernel = "*"
scipy = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.11"
